{%- extends "layout.html" -%}

{%- block style -%}
    <!-- build:css /static/css/vendor.index.css -->
    <link rel="stylesheet" type="text/css" href="./bower_components/normalize.css/normalize.css">
    <link rel="stylesheet" type="text/css" href="./bower_components/gridism/gridism.css">
    <link rel="stylesheet" type="text/css" href="./bower_components/quill/dist/quill.base.css">
    <link rel="stylesheet" type="text/css" href="./bower_components/quill/dist/quill.snow.css">
    <!-- endbuild -->
    <!-- build:css /static/css/style.index.css -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <!-- endbuild -->
{%- endblock -%}

{%- block content -%}
<div class="unit whole ht-100 overflow-pane">
    <h1>Editor</h1>
    <div id="editor-content" class="editor-content"></div>
</div>
<!-- <div class="unit half ht-100 overflow-pane">
    Preview
</div> -->
{%- endblock -%}

{%- block script -%}
<!-- Include vendor scripts here. -->
<!-- build:js /static/js/vendor.index.js -->
<script src="./bower_components/react/react-with-addons.js"></script>
<script src="./bower_components/quill/dist/quill.js"></script>
<script src="./bower_components/fetch/fetch.js"></script>
<!-- endbuild -->
<!-- build:js /static/js/legoblocks.index.js -->
<script src="./static/js/script.js"></script>
<script src="./static/jsx/js/block.text.js"></script>
<script src="./static/jsx/js/block.quote.js"></script>
<script src="./static/jsx/js/block.h2.js"></script>
<script src="./static/jsx/js/block.hr.js"></script>
<script src="./static/jsx/js/droppable.js"></script>
<script src="./static/jsx/js/block.img.js"></script>
<script src="./static/jsx/js/block.ul.js"></script>
<script src="./static/jsx/js/block.ol.js"></script>
<script src="./static/jsx/js/block.embed.js"></script>
<script src="./static/jsx/js/block.embed.instagram.js"></script>
<script src="./static/jsx/js/block.embed.youtube.js"></script>
<script src="./static/jsx/js/block.embed.vimeo.js"></script>
<script src="./static/jsx/js/block.embed.twitter.js"></script>
<script src="./static/jsx/js/toolbar.js"></script>
<script src="./static/jsx/js/quill.js"></script>
<script src="./static/jsx/js/components.js"></script>
<!-- endbuild -->
<!-- build:js /static/js/main.index.js -->
<script src="./static/js/main.js"></script>
<!-- endbuild -->
<!-- <script src="./bower_components/fetch/fetch.js"></script> -->

{%- endblock -%}
