// .editor-content {
//     input[type=text], input[type=password], input[type=email], input[type=search], textarea {
//         border: none;

//         &:focus {
//             border-bottom: 1px solid #ccc;
//             outline: none;
//         }
//     }
// }
@quill-border-color: #1987C7;

// .tags {
//     border: 1px solid #08c;
//     display: inline-block;
//     margin: 0 2px;
//     padding: 2px 4px;
// }

.block-container {
    //border: 1px solid @quill-border-color;
    margin-bottom: 10px;

    .block-h2, .block-h3, .block-h4 {
        margin: 0;
    }

    .block-h2 {
        .ql-editor {
            font-size: 3em;
        }
    }
    .block-h3 {
        .ql-editor {
            font-size: 2.5em;
        }
    }
    .block-h4 {
        .ql-editor {
            font-size: 2em;
        }
    }

    blockquote {
        margin: 0;
        border-left: 10px solid #FF8294;
    }

    &:hover {
        .block-toolbar {
            opacity: 1;
        }
    }
}

.block-toolbar {
    overflow: auto;
    opacity: 0;
    transition: opacity 0.2s ease-in;

    button {
        float: right;
        background: #fff;
        border: 1px solid #eee;
        color: #222;
        height: 30px;
        margin-right: 2px;
        text-align: center;
        width: 30px;

        &:focus {
            outline: 1px solid #ccc;
        }
    }
}

.block-embed {
    iframe {
        width: 100%;
    }
    &.block-instagram {
        iframe {
            min-height: 400px;
        }
    }
    &.block-twitter {
        iframe {
            margin-left: auto!important;
            margin-right: auto!important;
            min-height: 0!important;
        }
    }
}

.block-droppable {
    background: #CCF9C2;
    border: 5px solid transparent;
    cursor: pointer;
    font-size: 2em;
    line-height: 40px;
    margin: 5px;
    padding: 40px 0;
    text-align: center;

    &.block-drop-active {
        border-color: #0098B3;
    }
}

.block-list {
    .block-toolbar {
        float: right;

        button {
            border-radius: 15px;
            float: none;
        }
    }
}

.block-item {
    margin-bottom: 5px;
    min-height: 30px;

    .placeholder {
        color: #ccc;
    }

    &:focus {
        outline: none;
    }
}

.tag-list {
    margin: 0;
    padding: 0;

    .tag-item {
        border: 1px solid #0088cc;
        display: inline-block;
        margin: 2px;
        padding: 2px 4px;

        button {
            background: none;
            border: none;
            box-shadow: none;
            padding: 0;
            padding-right: 5px;

            &:hover {
                box-shadow: none;
            }
        }
    }
}

.block-div {
    min-height: 40px;
    padding-top: 5px;

    &:focus {
        outline: none;
    }
}

.block-default {
    position: relative;
}

.block-image {
    text-align: center;
    img {
        max-width: 100%;
    }
}


.ql-container {
    padding: 0px;

    .ql-editor {
        font-size: 18px;
    }

    &:focus {
        outline: 1px solid @quill-border-color;
    }
}

.ql-toolbar {
    //border-bottom: 1px solid @quill-border-color;
}
.toolbar {
    //border-top: 1px solid @quill-border-color;
    padding: 5px 0;
    text-align: center;
}
