// html {
//     height: 92%;
// }

.wrap .grid, .grid.wrap {
  max-width: 966px;
  margin: 0 auto;
}

.hero {
    background-color: lighten(@main-blue, 15%);
    padding: 30px 0;
    width: 100%;
    text-align: center;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);

    h1 {
        color: #fff;
        font-size: 3em;
        font-weight: bold;
    }
    h2 {
        font-size: 1em;
    }
}

.nav {
    &.from-start {
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
    }
}
body {
    padding-top: 55px;
}
